@import url(http://fonts.googleapis.com/css?family=Roboto:500,400italic,700italic,300,700,500italic,300italic,400);
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  color: #333;
  margin: 0;
  overflow:hidden;
}

h1,h2,h3,h4,h5,h6{
  font-family:'Roboto';
  padding: .25rem 0 .25rem .75rem;
  margin: .75rem 0 1rem 0;
  border-bottom:1px solid silver;
}
p{
  padding-left:0.75rem;
}
code, .code{
  display:inline-block;
  background:black;
  color:#00ff00;
  padding:0.75rem;
  margin:0.25rem 1rem 0.25rem 1rem;
  border-radius:0.5rem;
}
blog-collection{
    opacity:0;
  transition: all 1s linear;
}
.fadeIn{
  opacity:1;
}
app{
  position:absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;

}
app pages {
  position: absolute;
  top:3rem;
  right: 0;
  bottom: 0;
  left: 0;
}
app topmenu{
  position: absolute;
  top:0;
  right: 0;
  height: 3rem;
  left: 0;
  margin:0 auto;
  padding:0.35rem 1rem;
  max-width:64rem;
  background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%);
  z-index:2;
}