html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  color: #999;
  background-color: #000;
  margin: 0;
  overflow:hidden;
}